<div class="d-flex justify-content-center align-items-center vh-100 w-100" style="position: absolute; top: 0; left: 0">
<div class="container card text-center px-4 py-5 align-middle" style="width: 22rem">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input [class.border-danger]="error==='Forbidden'" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" type="email" class="form-control" id="username" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input [class.border-danger]="error==='Forbidden'" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="password" placeholder="Password">
        <small *ngIf="error==='Forbidden'" class="text-danger">The email or password is incorrect.</small>
      </div>
      <div class="form-check">
        <input [(ngModel)]="rememberMe" [ngModelOptions]="{standalone: true}" type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Remember me</label>
      </div>
      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
  </div>
</div>

