<div class="container-fluid">
  <div class="bg-light mx-3 my-4 p-5 align-middle text-center text-secondary">
    <h1>Headline</h1>
    <h4>The best headline i ever made... :(</h4>
    <h5>And I still don't like it</h5>
    <button class="btn btn-lg btn-outline-secondary mt-5 mb-3">Continue on our page...</button>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="p-2 col-md-12 col-lg-4">
      <div class="card">
        <img class="card-img-top"
             src="https://thumbs.dreamstime.com/b/example-red-tag-example-red-square-price-tag-117502755.jpg"
             alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-secondary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="p-2 col-md-12 col-lg-4">
      <div class="card">
        <img class="card-img-top"
             src="https://thumbs.dreamstime.com/b/example-red-tag-example-red-square-price-tag-117502755.jpg"
             alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-secondary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="p-2 col-md-12 col-lg-4">
      <div class="card">
        <img class="card-img-top"
             src="https://thumbs.dreamstime.com/b/example-red-tag-example-red-square-price-tag-117502755.jpg"
             alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-secondary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

